<h1>Hello world</h1>

<h2>Users:</h2>

<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv") %>
  <%= link_to "Excel", users_path(format: "xls") %>
</p>

<ul>
  <% @users.each do |user| %>
    <%= render 'user_row', user: user %>
    <%= render partial: 'user_row', locals: { user: user}  %>
  <% end %>
</ul>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
    <th>Birthday</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
    	<td><%= user.first_name %></td>
    	<td><%= user.last_name %></td>
    	<td><%= user.username %></td>
    	<td><%= user.email %></td>
    	<td><%= user.password %></td>
    	<td><%= user.birthday %></td>
    </tr>
  <% end %>
</table>

<!-- <h2>Users:</h2>
<ul>
  <% @users.each do |user|  %>
  <li><%= user.full_name %><li>
  <% end %>
</ul> -->

<h2>Import Products</h2>

<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

