<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.username, feed_item.user %>
  </span><br>
  <span class="content"><u><%= feed_item.title %></u></span><br>
  <span class="content"><%= feed_item.body %></span><br>
  <span class="content">
  <%= social_share_button_tag(feed_item.title) %><br>
  <%= social_share_button_tag(feed_item.title, 'data-twitter-title' => 'TheTitleForTwitter') %><br>
  <%= social_share_button_tag(feed_item.title, :allow_sites => %w(twitter facebook)) %><br>
  <%= social_share_button_tag(@post.title, :rel => "twipsy") %><br>
  <%= social_share_button_tag(feed_item.title, :url => "http://super_puper_twitter.com/foo/bar") %></span><br>
  <span class="timestamp"><small>
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </small></span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.title, remote: true, :class => 'delete_post' %>
  <% end %>
  <hr>
</li>