<h1>Index Posts</h1>

<h2>Posts:</h2>
<%= will_paginate %>
<ul class="posts">
  <% @posts.each do |post|  %>
  <li><strong><%= post.title %></strong><br><%= post.body %><li>
  <p>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, :confirm => "Are you sure?", :method => :delete %>
  </p>
  <hr>
  <% end %>
</ul>
<p><%= link_to "Add a New Post", new_post_path %></p>
<%= will_paginate %>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>


<%#= @user.posts %>
<%#= @user.@posts %>

